@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:wght@400&display=swap');

.team-container {
    text-align: center;
    padding: 40px 0;
}

.team-title {
    position: relative; 
    top: 0; 
    left: auto;
    transform: none;
    text-align: center;
    font-family: 'Imperial Script', cursive;
    font-size: 55px;
    color: #800000; 
    font-weight: normal;
    margin-top: 90px; 
    letter-spacing: 3px;
}

.team-grid {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    gap: 50px;
    text-align: center;
    margin-top: 90px; 
}

.team-member {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 220px;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: scale(1.05);
}


.team-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.team-member h3 {
    font-size: 18px;
    color: black;
    margin-top: 10px;
}

.stylist-role {
    font-size: 16px;
    color: #666;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.star-rating {
    margin: 10px 0;
}

.star {
    font-size: 18px;
    color: #800000;
}

.full-star {
    color: #800000; 
}

.half-star {
    color: #800000; 
    opacity: 0.6; 
}
